@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  color: #fff;
  background-color: black;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.hide-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;
}
