@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  overflow-x: hidden;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  color: #fff;
  background-color: black;
  overflow-x: hidden;

  font-family: "d-din_condensedregular";
}
////////////////////////////////////////////////////////////////////////////////
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
////////////////////////////////////////////////////////////////////////////////
p {
  font-family: "d-din_condensedregular", sans-serif;
}

strong {
}

////////////////////////////////////////////////////////////////////////////////
.hide-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;
}
